data/.flows_oc3370068546.ibm.com.json.backup
[{"id":"cd1c8d3c.b0f0a","type":"tab","label":"newone","disabled":false,"info":""},{"id":"eea5b6ea.cec658","type":"tab","label":"newone","disabled":false,"info":""},{"id":"3e0e23b3.b8aeac","type":"template","z":"cd1c8d3c.b0f0a","name":"success response","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n   \"msg\" : \"success\"\n}","output":"str","x":310,"y":80,"wires":[["aa27bde3.fee37"]]},{"id":"aa27bde3.fee37","type":"http response","z":"cd1c8d3c.b0f0a","name":"synchronouse response","statusCode":"200","headers":{},"x":530,"y":80,"wires":[]},{"id":"7fb23867.62a4b8","type":"http in","z":"cd1c8d3c.b0f0a","name":"pull content api","url":"/VRA","method":"post","upload":false,"swaggerDoc":"","x":100,"y":80,"wires":[["3e0e23b3.b8aeac","9319ef4d.b6853"]]},{"id":"9319ef4d.b6853","type":"change","z":"cd1c8d3c.b0f0a","name":"set apis and URLs","rules":[{"t":"set","p":"tokenGenURL","pt":"flow","to":"/identity/api/tokens","tot":"str"},{"t":"set","p":"schemaURL","pt":"flow","to":"/catalog-service/api/consumer/entitledCatalogItems/{{{catalogItemId}}}/requests/schema","tot":"str"},{"t":"set","p":"templateURL","pt":"flow","to":"/catalog-service/api/consumer/entitledCatalogItems/{{{catalogItemId}}}/requests/template","tot":"str"},{"t":"set","p":"getAllCatalogItemsURL","pt":"flow","to":"/catalog-service/api/consumer/entitledCatalogItems","tot":"str"},{"t":"set","p":"providerURL","pt":"flow","to":"payload.providerAccount.advancedInfo.url","tot":"msg"},{"t":"set","p":"userCredentials","pt":"flow","to":"payload.providerAccount.credentials[0].passwordFields","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["f9537388.67fda"]]},{"id":"10edf642.fff80a","type":"http request","z":"cd1c8d3c.b0f0a","name":"","method":"POST","ret":"obj","url":"","tls":"","x":790,"y":160,"wires":[["b15a3ace.f38ce8"]]},{"id":"d9f09664.2eb3c8","type":"function","z":"cd1c8d3c.b0f0a","name":"genericVRARequest","func":"var api = msg.payload.api;\nconsole.log(\"msg.payload\"+msg.payload);\nvar token = \"Bearer \"+flow.get(\"bearerToken\");\nconsole.log(\"token:\"+token);\nvar msg={};\nmsg.url=flow.get(\"providerURL\")+api;\nmsg.headers={Authorization:token,'Content-Type':'application/json'};\nmsg.rejectUnauthorized=false;\n//msg.method=\"POST\";\nconsole.log(\"InvokingURL\"+msg.url);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":260,"wires":[["13175de0.ca7682"]]},{"id":"f9537388.67fda","type":"function","z":"cd1c8d3c.b0f0a","name":"tokenGeneration","func":"var providerURL = flow.get(\"providerURL\");\nvar output={};\nvar userCredentials = JSON.stringify(flow.get(\"userCredentials\"));\noutput.url=providerURL+flow.get(\"tokenGenURL\");\noutput.rejectUnauthorized=false;\noutput.payload=userCredentials;\nconsole.log(\"userCredentials\"+userCredentials);\nreturn output;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[["10edf642.fff80a"]]},{"id":"b15a3ace.f38ce8","type":"change","z":"cd1c8d3c.b0f0a","name":"prepareForGetAllCatalog","rules":[{"t":"set","p":"bearerToken","pt":"flow","to":"payload.id","tot":"msg"},{"t":"set","p":"payload.api","pt":"msg","to":"getAllCatalogItemsURL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":260,"wires":[["d9f09664.2eb3c8"]]},{"id":"13175de0.ca7682","type":"http request","z":"cd1c8d3c.b0f0a","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1030,"y":260,"wires":[["58c4a13e.9c73b","3c4e292d.2306f6"]]},{"id":"58c4a13e.9c73b","type":"function","z":"cd1c8d3c.b0f0a","name":"processCompositeBlueprints","func":"var _ = global.get(\"lodash\");\nvar entitledCatalogItems = msg.payload.content;\nvar CompositeCatalogItems = {};\nglobal.set(\"CompositeCatalogItems\",CompositeCatalogItems);\n\nvar compositeCatalogCount = entitledCatalogItems.filter(i => i.catalogItem.catalogItemTypeRef.label !== 'XaaS Blueprint').length;\nglobal.set(\"catalogCount\",compositeCatalogCount);\nglobal.set(\"templateCount\",0);\nglobal.set(\"schemaCount\",0);\n_.forEach(entitledCatalogItems, (item) => {\n    var catalogItem = item.catalogItem;\n    if (catalogItem.catalogItemTypeRef.label !== 'XaaS Blueprint') {\n        CompositeCatalogItems[catalogItem.id]=catalogItem;\n        msg.catalogItemId = catalogItem.id;\n        msg.catalogItem = catalogItem;\n        node.send(msg);\n    }\n});\n","outputs":1,"noerr":0,"x":220,"y":420,"wires":[["5636ea2c.cff114","5310191c.c810e8"]]},{"id":"9f2ca3af.29a5a","type":"function","z":"cd1c8d3c.b0f0a","name":"genericVRARequest","func":"var api = msg.payload.api;\nconsole.log(\"msg.payload\"+msg.payload);\nvar token = \"Bearer \"+flow.get(\"bearerToken\");\nconsole.log(\"token:\"+token);\nvar msg={};\nmsg.url=flow.get(\"providerURL\")+api;\nmsg.headers={Authorization:token,'Content-Type':'application/json'};\nmsg.rejectUnauthorized=false;\n//msg.method=\"POST\";\nconsole.log(\"InvokingURL\"+msg.url);\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":380,"wires":[["4a0084a2.77cc7c"]]},{"id":"4a0084a2.77cc7c","type":"http request","z":"cd1c8d3c.b0f0a","name":"","method":"GET","ret":"obj","url":"","tls":"","x":930,"y":380,"wires":[["d1477683.9df3a8"]]},{"id":"34b39b26.9209c4","type":"function","z":"cd1c8d3c.b0f0a","name":"genericVRARequest","func":"var api = msg.payload.api;\nconsole.log(\"msg.payload\"+msg.payload);\nvar token = \"Bearer \"+flow.get(\"bearerToken\");\nconsole.log(\"token:\"+token);\nvar msg={};\nmsg.url=flow.get(\"providerURL\")+api;\nmsg.headers={Authorization:token,'Content-Type':'application/json'};\nmsg.rejectUnauthorized=false;\n//msg.method=\"POST\";\nconsole.log(\"InvokingURL\"+msg.url);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":480,"wires":[["954a979b.fb5ad8"]]},{"id":"954a979b.fb5ad8","type":"http request","z":"cd1c8d3c.b0f0a","name":"","method":"GET","ret":"obj","url":"","tls":"","x":930,"y":480,"wires":[["c8755fd0.172d5"]]},{"id":"d4353e1e.d3101","type":"function","z":"cd1c8d3c.b0f0a","name":"","func":"msg.payload=[];\nif(global.get(\"templateCount\") === global.get(\"catalogCount\") && global.get(\"schemaCount\") === global.get(\"catalogCount\")) {\n    var CompositeCatalogItems = global.get(\"CompositeCatalogItems\");\n    for(var catalogItemid in CompositeCatalogItems) {\n        msg.payload.push(CompositeCatalogItems[catalogItemid]);\n    }\n    return msg;\n}","outputs":1,"noerr":0,"x":1250,"y":420,"wires":[["efc87d77.4de16","4a78c5cb.a2797c","82d4d5a5.a76528"]]},{"id":"d1477683.9df3a8","type":"function","z":"cd1c8d3c.b0f0a","name":"","func":"var compositeCatalogItems = global.get(\"CompositeCatalogItems\");\nvar templatecnt=global.get(\"templateCount\")+1;\n\nfor(var catalogItemId in compositeCatalogItems) {\n    var catalogItem = compositeCatalogItems[catalogItemId];\n    catalogItem.filter = msg.payload.data;\n}\nglobal.set(\"templateCount\",templatecnt);\nif(templatecnt === global.get(\"catalogCount\")) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1070,"y":380,"wires":[["d4353e1e.d3101"]]},{"id":"5636ea2c.cff114","type":"function","z":"cd1c8d3c.b0f0a","name":"prepareForGetTemplate","func":"var _ = global.get(\"lodash\");\nvar templateURL = _.replace(flow.get(\"templateURL\"),\"{{{catalogItemId}}}\",msg.catalogItemId);\nflow.set(\"catalogItemId\",msg.catalogItemId);\nmsg.payload.api=templateURL;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["9f2ca3af.29a5a"]]},{"id":"5310191c.c810e8","type":"function","z":"cd1c8d3c.b0f0a","name":"prepareForGetSchema","func":"var _ = global.get(\"lodash\");\nvar schemaURL = _.replace(flow.get(\"schemaURL\"),\"{{{catalogItemId}}}\",msg.catalogItemId);\nflow.set(\"catalogItemId\",msg.catalogItemId);\nmsg.payload.api=schemaURL;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":480,"wires":[["34b39b26.9209c4"]]},{"id":"c8755fd0.172d5","type":"function","z":"cd1c8d3c.b0f0a","name":"","func":"var compositeCatalogItems = global.get(\"CompositeCatalogItems\");\nvar schemacnt=global.get(\"schemaCount\")+1;\nvar _ = global.get(\"lodash\");\nfor(var catalogItemId in compositeCatalogItems) {\n    var catalogItem = compositeCatalogItems[catalogItemId];\n    catalogItem.fields = msg.payload.fields;\n    \n}\nglobal.set(\"schemaCount\",schemacnt);\nif(schemacnt === global.get(\"catalogCount\")) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1090,"y":480,"wires":[["d4353e1e.d3101"]]},{"id":"1f74be7e.6a2da2","type":"debug","z":"cd1c8d3c.b0f0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1650,"y":400,"wires":[]},{"id":"efc87d77.4de16","type":"schema-generator","z":"cd1c8d3c.b0f0a","name":"","x":1410,"y":400,"wires":[["1f74be7e.6a2da2"]]},{"id":"4a78c5cb.a2797c","type":"debug","z":"cd1c8d3c.b0f0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1360,"y":300,"wires":[]},{"id":"cfffa00c.69422","type":"template","z":"eea5b6ea.cec658","name":"success response","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n   \"msg\" : \"success\"\n}","output":"str","x":310,"y":80,"wires":[["73b50ccd.84ef24"]]},{"id":"73b50ccd.84ef24","type":"http response","z":"eea5b6ea.cec658","name":"synchronouse response","statusCode":"200","headers":{},"x":530,"y":80,"wires":[]},{"id":"155542.a7b5dabe","type":"http in","z":"eea5b6ea.cec658","name":"pull content api","url":"/VRA","method":"post","upload":false,"swaggerDoc":"","x":100,"y":80,"wires":[["cfffa00c.69422","c71fdf90.444e8"]]},{"id":"c71fdf90.444e8","type":"change","z":"eea5b6ea.cec658","name":"set apis and URLs","rules":[{"t":"set","p":"tokenGenURL","pt":"flow","to":"/identity/api/tokens","tot":"str"},{"t":"set","p":"schemaURL","pt":"flow","to":"/catalog-service/api/consumer/entitledCatalogItems/{{{catalogItemId}}}/requests/schema","tot":"str"},{"t":"set","p":"templateURL","pt":"flow","to":"/catalog-service/api/consumer/entitledCatalogItems/{{{catalogItemId}}}/requests/template","tot":"str"},{"t":"set","p":"getAllCatalogItemsURL","pt":"flow","to":"/catalog-service/api/consumer/entitledCatalogItems","tot":"str"},{"t":"set","p":"providerURL","pt":"flow","to":"payload.providerAccount.advancedInfo.url","tot":"msg"},{"t":"set","p":"userCredentials","pt":"flow","to":"payload.providerAccount.credentials[0].passwordFields","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[[]]},{"id":"2e95cb11.c04ce4","type":"http request","z":"eea5b6ea.cec658","name":"","method":"POST","ret":"obj","url":"","tls":"","x":790,"y":160,"wires":[[]]},{"id":"fb812118.957ce","type":"function","z":"eea5b6ea.cec658","name":"genericVRARequest","func":"var api = msg.payload.api;\nconsole.log(\"msg.payload\"+msg.payload);\nvar token = \"Bearer \"+flow.get(\"bearerToken\");\nconsole.log(\"token:\"+token);\nvar msg={};\nmsg.url=flow.get(\"providerURL\")+api;\nmsg.headers={Authorization:token,'Content-Type':'application/json'};\nmsg.rejectUnauthorized=false;\n//msg.method=\"POST\";\nconsole.log(\"InvokingURL\"+msg.url);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":260,"wires":[[]]},{"id":"f3170fba.05ef8","type":"function","z":"eea5b6ea.cec658","name":"tokenGeneration","func":"var providerURL = flow.get(\"providerURL\");\nvar output={};\nvar userCredentials = JSON.stringify(flow.get(\"userCredentials\"));\noutput.url=providerURL+flow.get(\"tokenGenURL\");\noutput.rejectUnauthorized=false;\noutput.payload=userCredentials;\nconsole.log(\"userCredentials\"+userCredentials);\nreturn output;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[[]]},{"id":"847f592a.c07d08","type":"change","z":"eea5b6ea.cec658","name":"prepareForGetAllCatalog","rules":[{"t":"set","p":"bearerToken","pt":"flow","to":"payload.id","tot":"msg"},{"t":"set","p":"payload.api","pt":"msg","to":"getAllCatalogItemsURL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":260,"wires":[[]]},{"id":"f85b2b50.2a3368","type":"http request","z":"eea5b6ea.cec658","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1030,"y":260,"wires":[[]]},{"id":"f962db06.a7fcb8","type":"function","z":"eea5b6ea.cec658","name":"processCompositeBlueprints","func":"var _ = global.get(\"lodash\");\nvar entitledCatalogItems = msg.payload.content;\nvar CompositeCatalogItems = {};\nglobal.set(\"CompositeCatalogItems\",CompositeCatalogItems);\nglobal.set(\"catalogCount\",10);\nglobal.set(\"templateCount\",0);\nglobal.set(\"schemaCount\",0);\n_.forEach(entitledCatalogItems, (item) => {\n    var catalogItem = item.catalogItem;\n    if (catalogItem.catalogItemTypeRef.label !== 'XaaS Blueprint') {\n        CompositeCatalogItems[catalogItem.id]=catalogItem;\n        msg.catalogItemId = catalogItem.id;\n        msg.catalogItem = catalogItem;\n        node.send(msg);\n    }\n});\n","outputs":1,"noerr":0,"x":220,"y":420,"wires":[[]]},{"id":"4e05cf18.20abf","type":"function","z":"eea5b6ea.cec658","name":"genericVRARequest","func":"var api = msg.payload.api;\nconsole.log(\"msg.payload\"+msg.payload);\nvar token = \"Bearer \"+flow.get(\"bearerToken\");\nconsole.log(\"token:\"+token);\nvar msg={};\nmsg.url=flow.get(\"providerURL\")+api;\nmsg.headers={Authorization:token,'Content-Type':'application/json'};\nmsg.rejectUnauthorized=false;\n//msg.method=\"POST\";\nconsole.log(\"InvokingURL\"+msg.url);\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":380,"wires":[[]]},{"id":"47e203da.598bbc","type":"http request","z":"eea5b6ea.cec658","name":"","method":"GET","ret":"obj","url":"","tls":"","x":930,"y":380,"wires":[[]]},{"id":"c488ef92.323d5","type":"function","z":"eea5b6ea.cec658","name":"genericVRARequest","func":"var api = msg.payload.api;\nconsole.log(\"msg.payload\"+msg.payload);\nvar token = \"Bearer \"+flow.get(\"bearerToken\");\nconsole.log(\"token:\"+token);\nvar msg={};\nmsg.url=flow.get(\"providerURL\")+api;\nmsg.headers={Authorization:token,'Content-Type':'application/json'};\nmsg.rejectUnauthorized=false;\n//msg.method=\"POST\";\nconsole.log(\"InvokingURL\"+msg.url);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":480,"wires":[[]]},{"id":"72cb4c0d.6acac4","type":"http request","z":"eea5b6ea.cec658","name":"","method":"GET","ret":"obj","url":"","tls":"","x":930,"y":480,"wires":[[]]},{"id":"8d129ab1.eb79b8","type":"function","z":"eea5b6ea.cec658","name":"","func":"msg.payload=[];\nif(global.get(\"templateCount\") === global.get(\"catalogCount\") && global.get(\"schemaCount\") === global.get(\"catalogCount\")) {\n    var CompositeCatalogItems = global.get(\"CompositeCatalogItems\");\n    for(var catalogItemid in CompositeCatalogItems) {\n        msg.payload.push(CompositeCatalogItems[catalogItemid]);\n    }\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":420,"wires":[[]]},{"id":"7e4b5135.ffcd2","type":"function","z":"eea5b6ea.cec658","name":"","func":"var compositeCatalogItems = global.get(\"CompositeCatalogItems\");\nvar templatecnt=global.get(\"templateCount\")+1;\n\nfor(var catalogItemId in compositeCatalogItems) {\n    var catalogItem = compositeCatalogItems[catalogItemId];\n    catalogItem.filter = msg.payload.data;\n}\nglobal.set(\"templateCount\",templatecnt);\nif(templatecnt === global.get(\"catalogCount\")) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1110,"y":380,"wires":[[]]},{"id":"a8cdd68f.89cd78","type":"function","z":"eea5b6ea.cec658","name":"prepareForGetTemplate","func":"var _ = global.get(\"lodash\");\nvar templateURL = _.replace(flow.get(\"templateURL\"),\"{{{catalogItemId}}}\",msg.catalogItemId);\nflow.set(\"catalogItemId\",msg.catalogItemId);\nmsg.payload.api=templateURL;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[[]]},{"id":"5dbad7ef.bbbc18","type":"function","z":"eea5b6ea.cec658","name":"prepareForGetSchema","func":"var _ = global.get(\"lodash\");\nvar schemaURL = _.replace(flow.get(\"schemaURL\"),\"{{{catalogItemId}}}\",msg.catalogItemId);\nflow.set(\"catalogItemId\",msg.catalogItemId);\nmsg.payload.api=schemaURL;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":480,"wires":[[]]},{"id":"5aaad9af.ca0f48","type":"function","z":"eea5b6ea.cec658","name":"","func":"var compositeCatalogItems = global.get(\"CompositeCatalogItems\");\nvar schemacnt=global.get(\"schemaCount\")+1;\nvar _ = global.get(\"lodash\");\nfor(var catalogItemId in compositeCatalogItems) {\n    var catalogItem = compositeCatalogItems[catalogItemId];\n    catalogItem.fields = msg.payload.fields;\n    \n}\nglobal.set(\"schemaCount\",schemacnt);\nif(schemacnt === global.get(\"catalogCount\")) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1090,"y":480,"wires":[[]]},{"id":"9da6b13f.f0c06","type":"debug","z":"eea5b6ea.cec658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":380,"wires":[]},{"id":"d909c8d0.34aeb8","type":"schema-generator","z":"eea5b6ea.cec658","name":"","x":1410,"y":400,"wires":[[]]},{"id":"2d68a5ef.c1bada","type":"debug","z":"eea5b6ea.cec658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1360,"y":300,"wires":[]},{"id":"d909c8d0.34aeb7","type":"schema-mapper","z":"eea5b6ea.cec658","apiDocVersion":"v3","refid":"","name":"name","description":"description","descriptionHTML":"","provider":"","status":"draft","serviceType":"","tenant":"","updatedAt":"","labels":"","version":"0","terms":"","serviceCategory":"[{ id: 'default', name: 'default', description: 'default' }]","x":480,"y":700,"wires":[[]]},{"id":"82d4d5a5.a76528","type":"schema-mapper","z":"cd1c8d3c.b0f0a","apiDocVersion":"v3","refid":"id","name":"name","description":"description","descriptionHTML":"","provider":"","facets_key":"","facets_value":"","status":"draft","serviceType":"catalogItemTypeRef.label","tenant":"organization.tenantLabel","updatedAt":"lastUpdatedDate","labels":"organization.tenantLabel","version":"0","features_name":"","features_description":"","terms":"","serviceCategory":"[{ id: 'default', name: 'default', description: 'default' }]","config_attr":"fields","config_id":"id","config_name":"label","config_type":"","config_description":"description","config_required":"state.facets[type='mandatory'].value.value.value","config_default":"state.facets[type='defaultValue'].value.value.value","config_editable":true,"config_group":"","config_binding":"'$.data.'&id","config_pattern":"","config_domainValueIds_value":"permissibleValues.values.underlyingValue.label","config_domainValueIds_provisionValue":"permissibleValues.values.underlyingValue.value","config_hidden":"state.facets[type='visible'].value.value.value","config_inputType":"displayAdvice","config_range_min":"state.facets[type='minValue'].value.value.value","config_range_max":"state.facets[type='maxValue'].value.value.value","x":1380,"y":540,"wires":[["1576d912.d40b67","c875665a.cfbd38"]]},{"id":"1576d912.d40b67","type":"debug","z":"cd1c8d3c.b0f0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"schemaMapping","x":1830,"y":540,"wires":[]},{"id":"c875665a.cfbd38","type":"UploadToConsume","z":"cd1c8d3c.b0f0a","name":"","x":1560,"y":620,"wires":[[]]},{"id":"3c4e292d.2306f6","type":"function","z":"cd1c8d3c.b0f0a","name":"processXaasBlueprints","func":"\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":540,"wires":[[]]}]